/**
 * common class
 */
.clickable:hover {
  cursor: pointer;
}

.chatog-tag {
  font-size: 11px;
  border-radius: 4px;
  padding: 0 8px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border: 1px solid;
  border-color: #fff;
  color: #fff;
  user-select: none;
}
.chatog-tag + .chatog-tag {
  margin-left: 4px;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

/**
 * style rewrite
 */
.v-tooltip .v-overlay__content {
  font-weight: 300;
}

/**
 * share between APPConfig.vue and CreateRoom.vue
 */
.home-form-page {
  display: flex;
  flex-direction: column;
  padding: 16px;
  height: 100%;
}
.home-form-page__title {
  margin-bottom: 20px;
}
.home-form-page__form {
  margin-bottom: auto;
}
.home-form-page button {
  margin-bottom: 16px;
}

/**
 * scroll bar
 */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
